body{
    background-color:#042f4b;
    color: #fff6da;
    text-align: center;
    font-size: x-large;
    user-select: none;

}

h2{
    color: #fff9e6;
    
}
ul {
    list-style-type: none;
    display: flex;
}

li {
    flex: auto;
    border:1px solid #fbc99d;
    margin: 30px;
    background-color: #180c01;
    color: #fff6da;   
    cursor: pointer;
    width: 17em;
    height: 1em;
    padding: 20px;
}

li:hover  {
    box-shadow: 1px 1px 8px 1px  #ffcc33;
    color:#fbc99d;
}


.result{
    color: #fbc99d;
    margin-top: 30px;
}

.winner{
    color: #ed1250;
    font-size: x-large;
    font-weight: 900;
    border:1px solid #fbc99d;
    background-color: #180c01;
    height: 100px;
    width: 18em;
    margin: 0 auto;
    padding-top: 3.1em;
}




.scores-container {
    color: #fbc99d;
    display: flex;
    margin: 30px auto 0;
    width: 15em;
}

.scores{
    flex:auto; 
    color: #fbc99d;
}

p {
    color: #ed1250;
    border:1px solid #fbc99d;
    margin: 20px;
    background-color: #180c01;
}

.restart {
    cursor: pointer;
    border:1px groove #fbc99d;
    border-radius: 3%;
    width: 8em;
    margin: 50px auto 0;
    padding: 10px;
    background-color:#f7933b;
    color:  #180c01;    
}


.restart:hover  {
    box-shadow: 1px 1px 8px 1px #f8a054; 
}